@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 14% 97%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 159 86% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 165 10% 90%;
    --secondary-foreground: 159 86% 16%;
    --muted: 165 10% 92%;
    --muted-foreground: 159 20% 40%;
    --accent: 38 92% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 159 20% 88%;
    --input: 159 20% 88%;
    --ring: 159 86% 16%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 159 86% 5%;
    --foreground: 0 0% 98%;
    --card: 159 86% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 159 86% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 159 86% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 159 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 159 30% 15%;
    --muted-foreground: 159 20% 65%;
    --accent: 38 92% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 159 30% 18%;
    --input: 159 30% 18%;
    --ring: 159 86% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent/30;
  }
}

.bg-gold {
  background-color: #F59E0B;
}

.text-forest {
  color: #064E3B;
}

.bg-forest {
  background-color: #064E3B;
}